<div *ngIf="exibirJogo">

  <div *ngIf="!exibirDescricao">
    <div class="card text-center">
      <div class="card-header">
        Herois microscopicos
      </div>
      <div class="card-body">
        <h5 class="card-title">Questão: {{ perguntas[perguntaAtual].questao }}</h5>
        <p class="card-text">{{ perguntas[perguntaAtual].titulo }}</p>
        <button class="btn btn-primary" (click)="resposta(true)">Verdadeiro</button>
        <button class="btn btn-primary" (click)="resposta(false)">Falso</button>
      </div>
      <div class="card-footer text-muted">
        3 testes realizados
      </div>
    </div>
  </div>

  <div *ngIf="exibirDescricao">
    <div class="card text-center">
      <div class="card-header">
        Herois microscopicos
      </div>
      <div class="card-body">
        <h5 class="card-title">Questão: {{ perguntas[perguntaAtual].questao }}</h5>
        <p class="card-text">{{ perguntas[perguntaAtual].descricao }}</p>
        <button class="btn btn-primary" (click)="proximaPergunta()">Proxima pergunta</button>
      </div>
      <div class="card-footer text-muted">
        3 testes realizados
      </div>
    </div>
  </div>
  
</div>

