<div class="card text-center">
  <div class="card-header">
    Herois microscopicos
  </div>
  <div class="card-body">
    <h5 class="card-title">Lorem ipsum</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ligula aliquam, tempor tortor vel, pellentesque metus. Nulla egestas convallis nisl, eget tempus urna malesuada ut. Curabitur purus augue, auctor id finibus at, venenatis ut mi. Aliquam facilisis lacus nec elit lacinia hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In at purus nec tellus pulvinar scelerisque id ac justo. Etiam ligula nulla, rhoncus non urna in, aliquet egestas ipsum. Sed id aliquam odio.

      Nullam vitae magna ex. Phasellus imperdiet arcu vel commodo eleifend. Nullam congue tellus et molestie porta. Suspendisse et lorem at sem efficitur elementum id in nunc. Morbi scelerisque mattis eros. Suspendisse sit amet nisl congue, lobortis ipsum suscipit, efficitur nunc. Ut ut mauris ut ligula interdum dapibus faucibus sit amet lorem.</p>
    <button href="#" class="btn btn-primary" (click)="iniciar()">Iniciar</button>
  </div>
  <div class="card-footer text-muted">
    2 testes realizados
  </div>
</div>